<h2>Add Item</h2>

<form method="POST">

  <div class="mb-3">
      <input name="itemName" class="form-control" placeholder="Item Name" required>
        </div>

          <div class="mb-3">
              <input name="description" class="form-control" placeholder="Description">
                </div>

                  <div class="mb-3">
                      <input name="location" class="form-control" placeholder="Last Known Location">
                        </div>

                          <button class="btn btn-primary">Add Item</button>
                          </form>
